.jumbotron {
    background-image: url(../images/asphalt-auto-automobile-1329999.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}